@{
    ViewBag.Title = "Home Page";
}


<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Nike Cortez Unlocked By You</h1>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Asset/Client/image/custom-cortez-unlocked-by-you.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Nike Air Force 1 Mid '07</h1>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Asset/Client/image/air-force-1-mid-07-shoes-ZzCgrn.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Asset/Client/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Giao hàng miễn phí</h6>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Asset/Client/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Chính sách hoàn trả</h6>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Asset/Client/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ 24/7</h6>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Asset/Client/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh toán an toàn</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Asset/Client/img/category/c1.jpg" alt="">
                            <a href="~/Asset/Client/img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">NIKE</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Asset/Client/img/category/c2.jpg" alt="">
                            <a href="~/Asset/Client/img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Thể thao</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Asset/Client/img/category/c3.jpg" alt="">
                            <a href="~/Asset/Client/img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sản phẩm dành cho cặp đôi</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Asset/Client/img/category/c4.jpg" alt="">
                            <a href="~/Asset/Client/img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title"></h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/Asset/Client/img/category/c5.jpg" alt="">
                    <a href="~/Asset/Client/img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Black Friday</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm mới</h1>
                    </div>
                </div>
            </div>
            <div class="row" name="newProduct">
            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
    </div>
</section>

<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Sản phẩm bán chạy</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row" name="sell">
                    @*<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="~/Asset/Client/img/features/f-icon1.png" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="~/Asset/Client/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->

<script>
    listNewProduct();
    listSell();

    function listNewProduct() {
        $.ajax({
            url: '/Nike/NewProduct',
            type: "GET",
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data.status == 200) {
                    $.each(data.products, function (k, v) {
                        var newProduct = `<div class="col-lg-3 col-md-6" >
                        <div class="single-product">
                        <a href="/Nike/Details/${v.ProductId}">
                            <img style="height: 278px" class="img-fluid" src="/Asset/Client/image/${v.Image}" alt="">
                        </a>
                        <div class="product-details">
                            <h6><a style="color: black; text-transform: none;" href="/Nike/Details/${v.ProductId}">${v.ProductName}</a>                                
                            </h6>
                            <div class="price">
                                <h6><a style="color: gray" href="/Nike/Details/${v.ProductId}">${v.Price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</a></h6>
                            </div>
                            
                        </div>
                    </div>
                    </div>`
                        $('div[name="newProduct"]').append(newProduct)
                    })

                } else {
                    alert("Lỗi:" + data.message)
                }

            }
        })
    }

    function listSell() {
        $.ajax({
            url: '/Nike/Sell',
            type: "GET",
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (data) {
                if (data.status == 200) {
                    $.each(data.sell, function (k, v) {
                        var sell = `<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="/Nike/Details/${v.ProductId}"><img src="/Asset/Client/image/${v.Image}" style="width: 100px; height: 100px" alt=""></a>
                            <div class="desc">
                                <a href="/Nike/Details/${v.ProductId}" class="title">${v.ProductName}</a>
                                <div class="price">
                                    <h6>${v.Price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</h6>
                                </div>
                            </div>
                        </div>
                    </div>`
                        $('div[name="sell"]').append(sell)
                    })

                } else {
                    alert("Lỗi:" + data.message)
                }

            }
        })
    }
</script>


